/* Main styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300");

/* Variables */
:root {
  --color-win: #78cf82;
  --color-lose: #d94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #d2d2d2;
  --color-keys: #57717e;
  --color-keys-light: #e5e5e5;
  --font-size-large: 3rem;
  --font-size-medium: 1.25rem;
  --transition: all 0.3s ease-in-out;
}

/* main */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

li,
ol,
ul {
  padding: 0;
  display: inline-block;
}

h2 {
  text-transform: uppercase;
  font-size: var(--font-size-large);
}

button {
  margin: 0.5rem;
  border: none;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  background-color: var(--color-keys);
  border-radius: 8px;
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  background-color: #37474f;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  font-size: 1rem;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 8px;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.space {
  width: 15px;
}

.show {
  color: #000;
  background-color: #76ce82;
  font-size: 25px;
  transition: var(--transition);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #ffffff;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 5px;
  font-size: var(--font-size-medium);
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d0d0de6;
  padding: 2rem;
}

.title {
  color: #fff;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}
